<?xml version="1.0" encoding="UTF-8"?>

<module id="ngves.asiainfo.core.custom" name="服务定义" ejb-deploy="boss20" action-deploy="boss20" webservice-deploy="ws">
	
	<!--咨询投诉查询数据层-->
	<service id="AllegeInfoDAO" interface="ngves.asiainfo.core.custom.dao.interfaces.IAllegeInfoDAO" listen="true">
	    <interface-define/>
	    <impl-define type="singleton" use="true" transaction-name="" transaction-type="join" impl-class="ngves.asiainfo.core.custom.dao.impl.AllegeInfoDAOImpl"></impl-define>
  	</service>
	<!--咨询投诉派单查询数据层-->
	<service id="AllegeAssignInfoDAO" interface="ngves.asiainfo.core.custom.dao.interfaces.IAllegeAssignInfoDAO" listen="true">
	    <interface-define/>
	    <impl-define type="singleton" use="true" transaction-name="" transaction-type="join" impl-class="ngves.asiainfo.core.custom.dao.impl.AllegeAssignInfoDAOImpl"></impl-define>
  	</service>
  	<!--咨询投诉服务层-->
	<service id="AllegeInfoService" name="AllegeInfoService" interface="ngves.asiainfo.core.custom.service.interfaces.IAllegeInfoSrv" listen="true">
	    <interface-define/>
	    <property name="allegeInfoDAO" value="allegeInfoDAO" ref="ngves.asiainfo.core.custom.AllegeInfoDAO"></property>
	    <property name="allegeAssignInfoDAO" value="allegeAssignInfoDAO" ref="ngves.asiainfo.core.custom.AllegeAssignInfoDAO"></property>
	    <impl-define type="singleton" use="true" transaction-name="abc" transaction-type="join" impl-class="ngves.asiainfo.core.custom.service.impl.AllegeInfoSrvImpl"></impl-define>
  	</service>  
</module>